# Node modules
node_modules/

# Sass cache files
.sass-cache/

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# WordPress core (on ne veut pas tout commit)
!style.css
!functions.php
!*.php
!assets/