@use 'variables'
    
.footer
    background-image: linear-gradient(to right, variables.$primary-color, variables.$secondary-color)
    .first-row
        padding: 1rem 0.5rem
        color: white
        .footer-menu
            display: flex
            flex-direction: column
    .site-info
        background-color: white
        p
            font-size: 1rem
            margin: 0.25rem
            text-align: center