@use 'variables'
@use 'sass:color'
    
.btn
  display: inline-block
  padding: 0.75rem 1.5rem
  border-radius: 4px
  font-weight: bold
  text-align: center
  cursor: pointer
  transition: background 0.3s ease

.btn-primary
  background: variables.$primary-color
  color: #fff
  &:hover
    background-color: color.adjust(variables.$primary-color, $lightness: 25%)

.btn-secondary
  background: variables.$quaternary-color
  color: #fff
  &:hover
    background-color: color.adjust(variables.$quaternary-color, $lightness: 25%)