$primary-color: #EF7722
$secondary-color: #FAA533
$tertiary-color: #EBEBEB
$quaternary-color: #0BA6DF

$text: #424242

$font-stack: 'Poppins', sans-serif

$mobile: 425px;
$tablet: 768px;
$laptop: 1024px;